SUBSYSTEM=="input", ACTION=="add", ENV{ID_SERIAL}=="0ae4_TAITO_USB_Paddle___Trackball_Controller", MODE="0666", ENV{ID_INPUT_JOYSTICK}="0", ENV{ID_INPUT_MOUSE}="1", RUN+="/usr/bin/virtual-e2m-paddle-trackball-add"
